body {
    background-color: lightblue;
    min-height: 100vh;
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title {
    font-family : Arial, Helvetica, sans-serif;
    margin-bottom : 50px;
}

.guess-title {
    margin-top : 0px;
    margin-bottom : 20px;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #202020;
    color: white;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.heads-button {
    background-color : rgb(67, 166, 67);
    border : none;
    color : white;
    height : 50px;
    width : 100px;
    border-radius : 10px;
    font-size : 17px;
    font-family :Arial, Helvetica, sans-serif;
    cursor : pointer;
    box-shadow: 5px 4px 8px rgba(255, 255, 255, 0.2);
    transition : background-color 0.3s, box-shadow 0.3s;
    margin-right : 20px;
}

.heads-button:hover {
    background-color : rgb(34, 134, 34);
    box-shadow : 0px 4px 8px rgba(255, 255, 255, 0.2);
    height : 48px;
    width : 98px;
}

.tails-button {
    background-color : rgb(67, 166, 67);
    border : none;
    color : white;
    height : 50px;
    width : 100px;
    border-radius : 10px;
    font-size : 17px;
    font-family :Arial, Helvetica, sans-serif;
    cursor : pointer;
    box-shadow: 5px 4px 8px rgba(255, 255, 255, 0.2);
    transition : background-color 0.3s, box-shadow 0.3s;
    margin-left : 20px;
}

.tails-button:hover {
    background-color : rgb(34, 134, 34);
    box-shadow : 0px 4px 8px rgba(255, 255, 255, 0.2);
    height : 48px;
    width : 98px;
}