.calculator-container {
    display : flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    margin-top : 100px;
    padding : 10px 20px 10px 20px;
}

.inner-calculator-container {
    background-color : lightblue;
    padding : 20px;
    border-radius : 10px;
    box-shadow : 5px 5px 10px rgba(24, 1, 101, 0.2);
    border : 2px solid black;
}

.display-container {
    background-color : rgb(116, 115, 115);
    height : 50px;
    width : 163px;
    margin-bottom : 20px;
    font-size : 15px;
    text-align: right;
    border-radius : 5px;
    border : 2px solid black;
}

.number-button {
    background-color : black;
    color : white;
    height : 30px;
    width : 30px;
    margin : 5px 5px 5px 5px;
    border-radius : 5px;
}

.number-button:hover {
    background-color : grey;
    cursor : pointer;
}

.operator-button {
    background-color : orange;
    color : white;
    height : 30px;
    width : 30px;
    margin : 5px 5px 5px 5px;
    border-radius : 5px;

}

.operator-button:hover {
    background-color : darkorange;
    cursor : pointer;
}

.clear-button {
    background-color : rgb(200, 43, 43);
    color : white;
    height : 30px;
    width : 73px;
    margin : 5px 5px 5px 5px;
    border-radius : 5px;
    font-family : 'Courier New', Courier, monospace;
}

.display-input {
    color : white;
    font-size : 35px;
    margin-bottom : 10px;
    margin-right: 10px;
    font-family : 'Bitcount Prop Single', sans-serif;
    margin-top : 10px;
}

.delete-button {
    background-color : rgb(200, 43, 43);
    color : white;
    height : 30px;
    width : 73px;
    margin : 5px 5px 5px 5px;
    border-radius : 5px;
    font-family : 'Courier New', Courier, monospace;
}