.first-name,
.last-name {
    display : inline-block;
    width : 120px;
    margin-bottom : 10px;
    height : 30px;
    border-radius : 5px;
    border : 1px solid;
    border-color : gray;
}

.email {
    display:block;
    width : 250px;
    height : 30px;
    border-radius : 5px;
    border : 1px solid;
    border-color : gray;
}

.submit-button{
    width : 255px;
    height : 30px;
    margin-top : 10px;
    color : white;
    background-color : rgb(36, 142, 255);
    border : none;
    border-radius : 5px;
}
.container {
    padding : 20px;
}