.container {
    align-items: center;
    justify-content: centers;
    display: flex;
    flex-direction: column;
    margin-top : 50px;
}

.button-container {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    width : 400px;
}

.item-list {
    list-style-type: none;
    padding : 20px;
}

.game {
    background-color : rgb(197, 56, 56);
    border : 2px solid black;
    padding : 12px;
    margin : 10px;
    text-align : center;
    font-family : Arial, sans-serif;
    font-weight : bold;
    color : white;
    border-radius : 10px;
    cursor : pointer;
}

.music {
    background-color : rgb(56, 197, 130);
    border : 2px solid black;
    padding : 12px;
    margin : 10px;
    text-align : center;
    font-family : Arial, sans-serif;
    font-weight : bold;
    color : white;
    border-radius : 10px;
    cursor : pointer;
}

.tech {
    background-color : rgb(56, 130, 197);
    border : 2px solid black;
    padding : 12px;
    margin : 10px;
    text-align : center;
    font-family : Arial, sans-serif;
    font-weight : bold;
    color : white;
    border-radius : 10px;
    cursor : pointer;
}
    
button {
    background-color : rgb(178, 178, 178);
    border : none;
    padding : 12px;
    width : 80px;
    font-size : 16px;
    font-family : Arial, sans-serif;
    font-weight : bold;
    border-radius : 5px;
    cursor : pointer;
    transition : background-color 0.3s;
}

button:hover {
    background-color: black;
    color : white;
}
