    .subscribe-button {
        background-color : rgb(164, 28, 28);
        color : white;
        border : none;
        border-radius: 2.5px;
        cursor : pointer;
        transition : opacity 0.2s;
        padding : 10px;
        vertical-align : top;    
    }
    .subscribe-button:hover{
        opacity : 0.7;
    }

    .subscribe-button:active{
        opacity : 0.3;
    }

    .join-button{
        background-color : white;
        border-color : blue;
        color : blue;
        border-style : solid;
        border-width : 1px;
        height : 30px;
        width : 50px;
        margin: 5px;
        cursor : pointer;
        border-radius : 2px;
        transition : background-color 1s, color 1s;
        vertical-align : top;
    }

    .join-button:hover {
        background-color:blue;
        color : white;
    }

    .join-button:active {
        opacity : 0.7;
    }

    .tweet-button{
        background-color : rgb(74, 198, 255);
        border : none;
        height : 30px;
        width : 60px;
        margin : 5px;
        cursor : pointer;
        border-radius : 20px;
        color : rgb(246, 246, 246);
        font-family : 'Courier New';
        font-weight : bold;
        font-size : 15;
        transition : box-shadow 0.2s;
        vertical-align : top;
    }
    .tweet-button:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    }

    .uber-button {
        background-color : black;
        border : none;
        color : white;
        width : 90px;
        height : 30px;
        font-size : 10;
        vertical-align : top;
    }

    .github-button{
        background-color : rgb(12, 160, 12);
        color : white;
        font-weight : bold;
        width : 80px;
        height : 30px;
        border-radius : 5px;
        border : none;
        cursor : pointer;
        transition : box-shadow 0.2s;
    }

    .github-button:hover {
        box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    }
    
    .linkedIn-apply-button{
        background-color : rgb(38, 38, 180);
        color : white;
        border : none;
        height : 20px;
        width : 160px;
        border-radius : 10px;
        font-size : 10px;
        font-weight : bold;
        margin : 5px;
        transition : background-color 0.2s;
    }
    
    .linkedIn-apply-button:hover {
        background-color : rgb(33, 33, 148);
    }

    .linkedIn-save-button {
        background-color : white;
        border : solid ;
        border-color: rgb(48, 48, 156);
        height : 25px;
        width : 50px;
        border-radius : 25px;
        font-size : 12;
        font-weight : bold;
        color : rgb(48, 48, 156);
        border-width : 1px;
        transition : border-width 0.1;
    }

    .linkedIn-save-button:hover {
        border-width : 2px;
    }