.amazon-button:hover {
    color : rgb(181, 120, 6);
}

.product-name{
    font-weight: bold;
}

.price{
    color : rgb(0,118,0);

}

.cart-button {
    background-color : rgb(255, 165, 20);
    width : 100px;
    height : 30px;
    border : none;
    border-radius: 15px;
    margin : 5px;
    transition : opacity 0.15s;
    font-size : 10;
}

.cart-button:hover{
    opacity : 0.8;
}

.cart-button:active{
    opacity : 0.5;
}
.buy-button {
    background-color : rgb(213, 134, 16);
    width : 100px;
    height : 30px;
    border : none;
    border-radius: 15px;
    margin : 5px;
    font-size : 10;
}   