.header-container {
    display : flex;
    flex-direction: row;
    height : 70px;
    border-width : 1px;
    border-style : solid;
    border-color : black;
    justify-content: center;
    margin-bottom : 30px;
}

.header-item-1 {
    background-color : blue;
    color : white;
    width : 100px;
}

.header-item-2 {
    background-color : red;
    color : white;
    width : 100px;
}

.header-item-3 {
    background-color : green;
    color : white;
    width : 100px;
}