.container-pagination{
    background-color : white;
    padding : 20px;
    margin : auto;
    width : 50%;
    border : 2px solid rgb(9, 9, 135);
    text-align : center;

}

.container-stretch {
    margin : auto;
    width : 50%;
    border : 2px solid green;
    text-align : center;
    padding : 20px;
}

.stretch-button{
    background-color : green;
    border : none;
    color : white;
    cursor : pointer;
    width : 60px;
    height : 30px;
    font-size: 6;
    transition : width 0.5s, height 0.5s;
}

.stretch-button:hover {
    width : 70px;
    height : 50px;

}
.page1{
    padding : 7px;
}

.page2{
    padding : 7px;
}

.page3{
    padding : 7px;
}

.page4{
    padding : 7px;
}

.page5{
    padding : 7px;
}

.container-shadow{
    margin : auto;
    width : 50%;
    text-align : center;
    padding : 20px;
    border : 2px solid salmon;
    background-color : white;
}

.shadow-button{
    background-color : green;
    border : none;
    color : white;
    cursor : pointer;
    width : 70px;
    height : 30px;
}

.shadow-button:hover {
    box-shadow : 5px 5px 5px rgba(0,0,0,0.5);
    margin-bottom : 2px;
    margin-right : 2px;
}