.header {
    height : 60px;
    display: flex;
    flex-direction : row;
    justify-content: space-between;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    background-color : white;
    border-bottom : 0.5px solid rgb(157, 157, 157);
    z-index : 100;
}

.left-section {
    align-items : center;
    display : flex;
}

.menu {
    height : 24px;
    margin-left : 24px;
    margin-right : 24px;
    cursor : pointer;
}

.youtube-logo {
    height : 20px;
}

.middle-section {
    flex: 1;
    margin-left : 60px;
    margin-right : 30px;
    max-width : 500px;
    display : flex;
    align-items: center;
}

.search-button{
    height : 39px;
    width : 66px;
    background-color : rgb(240,240,240);
    border : 1px solid gray;
    margin-left : -2px;
    margin-right : 10px;
    cursor : pointer;
    position : relative;
}

.search-button .search-text {
    font-family : roboto, arial;
    font-size : 14px;
    color : white;
    background-color : gray;
    position : absolute;
    padding-top : 3px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 3px;
    border-radius : 3px;
    bottom : -30px;
    left : 0px;
    opacity : 0;
    transition : opacity 0.2s;
}

.search-button:hover .search-text {
    opacity : 1;
}
.search-icon {
    height : 25px;
    margin-top : 4px;
    
}

.voice-button {
    height : 40px;
    width : 40px;
    border-radius : 20px;
    border : none gray;
    cursor : pointer;
    position : relative;
}

.voice-button .voice-text {
    font-family : roboto, arial;
    font-size : 14px;
    color : white;
    background-color : gray;
    position : absolute;
    padding-top : 3px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 3px;
    border-radius : 3px;
    bottom : -30px;
    left : -55px;
    opacity : 0;
    transition : opacity 0.2s;
    white-space: nowrap;
}

.voice-button:hover .voice-text {
    opacity : 1;
}

.voice-icon{
    height : 24px;
    margin-top : 4px;
}
.search-bar {
    flex : 1;
    height : 36px;
    padding-left : 10px;
    font-size : 16px;
    border : 1px solid gray;
    border-radius : 2px;
    box-shadow : inset 1px 2px 3px rgba(0,0,0,0.05);
    width:0;
}

.search-bar::placeholder{
    font-family : roboto, arial;
    font-size : 14px;
}
.right-section {
    width : 200px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink : 0;
    position : relative;
}

.upload-container {
    position : relative;
}

.upload-icon, .apps-icon {
    height : 24px;
    margin-right : 20px;
    cursor : pointer;
}

.upload-container .upload-text {
    font-family : roboto, arial;
    font-size : 14px;
    color : white;
    background-color : gray;
    position : absolute;
    padding-top : 3px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 3px;
    border-radius : 3px;
    bottom : -30px;
    left : -10px;
    opacity : 0;
    transition : opacity 0.2s;
    white-space: nowrap;
}

.upload-container:hover .upload-text {
    opacity : 1;
}

.apps-container {
    position : relative;
}

.apps-container .apps-text {
    font-family : roboto, arial;
    font-size : 14px;
    color : white;
    background-color : gray;
    position : absolute;
    padding-top : 3px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 3px;
    border-radius : 3px;
    bottom : -30px;
    left : -30px;
    opacity : 0;
    transition : opacity 0.2s;
    white-space: nowrap;
}

.apps-container:hover .apps-text {
    opacity : 1;
}

.notifications-container{
    position : relative;
}

.notifications-icon {
    height : 24px;
    margin-right : 20px;
    cursor : pointer;
}

.notifications-number{
    position : absolute;
    background-color : rgb(190, 6, 6);
    font-size : 10px;
    top : -3px;
    right : 13px;
    color : white;
    height : 14px;
    width : 10px;
    border-radius : 10px;
    text-align : center;
    padding-top : 2px;
    padding-left : 3px;
    padding-right : 3px;
    border : 2px solid white;
}

.notifications-container .notifications-text {
    font-family : roboto, arial;
    font-size : 14px;
    color : white;
    background-color : gray;
    position : absolute;
    padding-top : 3px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 3px;
    border-radius : 3px;
    bottom : -30px;
    left : -40px;
    opacity : 0;
    transition : opacity 0.2s;
    white-space: nowrap;
}

.notifications-container:hover .notifications-text {
    opacity : 1;
}

.my-channel {
    height : 32px;
    margin-right : 20px;
    cursor : pointer;
    border-radius : 16px;
}