.profile-container{
    display: inline-block;
    flex-direction: column;
    text-align : left;
    border: none;
    width: 200px;
    box-shadow : 0 0 10px rgba(0,0,0,0.5);
    vertical-align : top;
    margin-left : 15px;
    margin-top : 20px;
}

.profile-picture{
    width : 200px;
    height : 200px;
    object-fit : cover;
}

.profile-name {
    font-size: 25px;
    font-weight: bold;
    margin-left : 15px;
    margin-bottom : 5px;
    margin-top : 10px;
    text-align : left;
    font-family :Arial, Helvetica, sans-serif;
}

.profile-network{
    font-size: 14px;
    color: #888;
    font-family :Arial, Helvetica, sans-serif;
    margin-left : 15px;
    margin-bottom : 10px;
    margin-top : 0;
    text-align : left;
}

.add-friend-button {
    background-color : rgb(45, 139, 255);
    border : none;
    margin : 15px;
    width : 100px;
    height : 30px;
    border-radius : 5px;
    color : white;
    cursor : pointer;
}